*/bin/*
bin/*
.metadata/
Zandorum*
.gradle/
gradle/
*/.gradle*
.recommenders*
BloodMagic/
WildTPMod/
.classpath
.project
.settings/
CREDITS-fml.txt
FinderCompass/gradle-app.setting
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
eclipse/
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
gradlew
gradlew.bat
build.gradle
