*/bin/*
.metadata/
.recommenders/*
*.gradle*
*/build/tmp/*
*/build/sources/*
*/build/*
DynamicLights_RL/.idea/
FinderCompass_RL/.idea/
FinderCompass_RL/classes/
DynamicLights/.idea/
InfernalMobs/.idea/*
InfernalMobs/out/
InfernalMobs/run/
*/*.iml
.idea/
FinderCompass/out/
FinderCompass/run/usercache.json
FinderCompass/run/config/findercompass.cfg
FinderCompass/run/config/fml.toml
FinderCompass/run/config/forge-client.toml
FinderCompass/run/
