*/bin/*
.metadata/
.recommenders/*
*.gradle*
*/build/tmp/*
*/build/sources/*
*/build/*
DynamicLights_RL/.idea/
FinderCompass_RL/.idea/
FinderCompass_RL/classes/
DynamicLights/.idea/
InfernalMobs/.idea/*
InfernalMobs/out/
